In [1]:
import pandas as pd
import spacy
import numpy as np

In [2]:
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [3]:
df1 = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/twitter-data/master/twitter4000.csv', encoding = 'latin1')

In [4]:
df=df1.copy()

In [5]:
df.head(20)

                                               twitts  sentiment
0   is bored and wants to watch a movie  any sugge...          0
1            back in miami.  waiting to unboard ship           0
2   @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                   ughhh i am so tired  blahhhhhhhhh          0
4   @mandagoforth me bad! It's funny though. Zacha...          0
5   brr, i'm so cold. at the moment doing my assig...          0
6   @kevinmarquis haha yep but i really need to sl...          0
7   eating some ice-cream while I try to see @pete...          0
8             @phatty84 just hella bored at work  lol          0
9                            Food poisoning blowssss           0
10  @StaciG She sent home the best guy, I'm over t...          0
11  @shika Yeah I did. Trying to recover it now. I...          0
12                                 can't fall asleep           0
13  Padres come back from being down 6-0 &amp; we ...          0
14  Awe shiiiiiiiiiiiit! Chente got dem killahzzzz...          0
15          @sfannah Ahhhhh  Well at least I'm up to!          0
16  @BrianQuest I made 1 fo u 2: http://bit.ly/eId...          0
17  mhm  oh, I brought my hendrick's out to vancou...          0
18  @garethemery Gareth, all of are tuned, it but ...          0
19  @KimberleyMtkg Hey there! No can do!  Travelin...          0

In [6]:
df.sentiment.value_counts()

1    2000
0    2000
Name: sentiment, dtype: int64

# WORD COUNTS

In [7]:
len(('This is my sister').split())

4

In [8]:
df['word_counts']=df['twitts'].apply(lambda x: len(str(x).split()))

In [9]:
df.head()

                                              twitts  sentiment  word_counts
0  is bored and wants to watch a movie  any sugge...          0           10
1           back in miami.  waiting to unboard ship           0            7
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0           12
3                  ughhh i am so tired  blahhhhhhhhh          0            6
4  @mandagoforth me bad! It's funny though. Zacha...          0           26

In [10]:
df.word_counts.max()

32

In [11]:
df.word_counts.mean()

13.28125

CHARACTERS COUNT

In [12]:
df.head()

                                              twitts  sentiment  word_counts
0  is bored and wants to watch a movie  any sugge...          0           10
1           back in miami.  waiting to unboard ship           0            7
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0           12
3                  ughhh i am so tired  blahhhhhhhhh          0            6
4  @mandagoforth me bad! It's funny though. Zacha...          0           26

In [13]:
def char_counts(x):
    s=x.split()
    x=''.join(s)
    return len(x)

In [14]:
df['char_counts']=df['twitts'].apply(lambda x:char_counts(str(x)) )

In [15]:
df.sample(5)

,twitts,sentiment,word_counts,char_counts
1381,@BuildsBlog Just found out it's currently not ...,0,13,79
1310,Has been crap today. Will never lose anymore ...,0,12,53
3404,It's taking great willpower to not eat the ice...,1,21,99
2538,I'm proud of myself! Managed to place an order...,1,23,111
2880,"touched by the gifts received, time will put t...",1,24,102

In [16]:
df['Avg_word_length']=df['char_counts']/df['word_counts']

In [17]:
df.sample(9)

,twitts,sentiment,word_counts,char_counts,Avg_word_length
2623,@RaquelM2 okay great!! i can't wait!!! i'm re...,1,25,112,4.480000
2334,@hernseugene u said u were in class with the g...,1,20,102,5.100000
2102,@Bullpenbrat Hi April!! Its Heather,1,5,31,6.200000
2913,I hate physics!,1,3,13,4.333333
2530,@PoynterPerv yea ave been to see him twice lol...,1,16,64,4.000000
3767,@satyo2000 Hehehehe.. No problem. At least gue...,1,16,70,4.375000
170,@offirg Sorry but I will be at the Cepic AGM i...,0,24,92,3.833333
2169,Luvs her Machie - Poo !!! R friendship is tigh...,1,16,65,4.062500
3021,@taylormcfly I know!! Should of guessed they'd...,1,10,51,5.100000

In [18]:
print(stopwords)

{'behind', 'below', 'he', 'others', 'latter', 'do', 'from', 'amongst', 'seemed', 'most', 'which', 'less', 'this', 'the', 'seeming', 'several', 'along', 'where', 'within', 'over', 'are', 'about', 'keep', 'across', 'ca', '’ll', 'anyhow', '‘m', 'say', 'above', 'first', 'rather', 'itself', 'everything', 'therefore', 'its', 'also', 'had', 'show', 'thereafter', 'done', 'third', 'during', '’m', 'by', 'four', 'herself', 're', 'give', 'n‘t', 'therein', 'being', 'everyone', '‘ve', 'anything', 'whereas', 'have', 'almost', 'regarding', 'of', 'please', 'bottom', 'three', 'so', 'own', 'whenever', 'neither', 'forty', 'and', 'among', 'anywhere', 'before', 'me', 'used', 'perhaps', 'afterwards', 'hereafter', 'someone', 'she', 'sometime', 'one', 'besides', 'too', 'although', 'really', 'cannot', 'due', 'meanwhile', 'or', 'to', 'towards', 'nevertheless', 'beyond', 'since', 'does', 'ever', 'again', 'may', '’s', 'made', 'latterly', 'throughout', 'for', 'already', '‘ll', 'same', 'every', 'take', 'yours', 'namely', 'see', 'either', 'toward', '‘s', '’ve', 'even', 'without', 'move', 'moreover', 'name', 'together', 'very', 'somehow', 'will', 'whereafter', 'further', 'nobody', 'how', 'my', 'everywhere', 'fifty', 'while', 'becoming', 'up', 'mostly', 'many', '’d', 'beside', 'wherever', 'hereupon', 'mine', 'into', 'became', 'those', 'would', 'noone', 'ours', 'whereupon', 'herein', 'least', 'such', 'but', "'ve", 'whose', 'unless', 'ten', 'top', 'that', 'eleven', '’re', 'former', 'was', 'down', 'still', 'hers', 'becomes', 'nor', 'just', 'whereby', 'doing', 'thru', 'otherwise', "'m", 'until', 'few', 'thereupon', 'might', 'various', 'yourself', 'full', 'been', 'myself', 'get', 'there', 'nowhere', 'side', 'quite', 'however', 'it', 'part', 'off', 'on', 'whatever', 'beforehand', 'put', 'you', 'via', 'sometimes', 'with', 'i', "'ll", 'though', 'call', 'thus', 'go', 'once', 'alone', 'your', 'here', 'onto', 'why', 'elsewhere', 'when', 'our', 'twelve', 'whoever', 'never', 'empty', 'always', 'front', 'whether', 'her', 'another', 'who', 'some', 'in', 'eight', 'twenty', 'has', 'these', 'whom', "'re", 'indeed', 'their', 'more', 'using', 'back', 'could', 'his', 'nine', 'out', 'against', 'anyone', 'seem', 'wherein', 'whence', 'next', 'themselves', 'them', 'last', 'now', 'seems', 'be', 'hence', 'did', 'they', 'at', 'each', 'upon', 'somewhere', 'serious', 'no', 'himself', 'if', 'hundred', '‘re', 'become', 'yet', 'six', 'fifteen', 'should', 'thereby', 'else', 'not', 'a', 'something', '‘d', 'sixty', 'two', 'as', 'we', 'am', 'both', 'were', 'nothing', 'thence', 'an', 'us', 'around', 'between', 'then', "n't", 'can', 'ourselves', 'n’t', 'than', 'only', 'yourselves', 'per', 'formerly', 'often', 'must', 'make', 'through', 'anyway', 'except', "'s", 'after', 'amount', 'is', 'whole', 'any', 'all', 'well', 'five', 'what', 'other', 'under', 'much', 'hereby', 'because', 'whither', 'none', 'enough', "'d", 'him'}

In [19]:
len(stopwords)

326

In [20]:
df['stop_words_len']=df['twitts'].apply(lambda x: len([t for t in x.split() if t in stopwords]))

In [21]:
df.head()

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13

In [22]:
x='this is #hastag and this is @mention'

In [23]:
x.split()

['this', 'is', '#hastag', 'and', 'this', 'is', '@mention']

In [24]:
len([t for t in x.split() if t.startswith('#')])

1

In [25]:
df['hashtags_count']=df['twitts'].apply(lambda x: len([t for t in x.split() if t.startswith('#')]))
df['mentions_counts']=df['twitts'].apply(lambda x: len([t for t in x.split() if t.startswith('@')]))

In [26]:
df.sample(9)

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len,hashtags_count,mentions_counts
3072,had so much fun on my shopping spree...lots of...,1,10,43,4.300000,6,0,0
284,@chiniehdiaz I as disappointed about Angela's ...,0,7,43,6.142857,2,0,1
7,eating some ice-cream while I try to see @pete...,0,14,88,6.285714,4,0,1
596,@allimendiola i miss you sister! &lt;3 i eat t...,0,27,109,4.037037,16,0,1
3870,@PinksTwitFans Loads and loads of coast,1,6,34,5.666667,2,0,1
1011,didnt go to the beach because had to get the c...,0,17,69,4.058824,8,0,0
742,At the train station. It's cold,0,6,26,4.333333,1,0,0
2922,i swear...the drugs are messing with my head.....,1,16,80,5.000000,8,0,0
1479,My last day of work today! How sad,0,8,27,3.375000,2,0,0

In [27]:
x='this is 1 and 2'

In [28]:
x.split()[2].isdigit()

True

In [29]:
[t for t in x.split() if t.isdigit()]

['1', '2']

In [30]:
df['numeric_digits_count']=df['twitts'].apply(lambda x:len([t for t in x.split() if t.isdigit()]))

In [31]:
df.head()

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len,hashtags_count,mentions_counts,numeric_digits_count
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,0,0,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,0,0,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0,0,1,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,0,0,0
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13,0,2,0

In [32]:
x='I Am HAPPY'.split()

In [33]:
x

['I', 'Am', 'HAPPY']

In [34]:
x[1].isupper()

False

In [35]:
df['upper_counts']=df['twitts'].apply(lambda x:len([t for t in x.split() if t.isupper()]))

In [36]:
df['twitts']=df.twitts.apply(lambda x:str(x).lower())

In [37]:
df.head()

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len,hashtags_count,mentions_counts,numeric_digits_count,upper_counts
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,0,0,0,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,0,0,0,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0,0,1,0,1
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,0,0,0,0
4,@mandagoforth me bad! it's funny though. zacha...,0,26,116,4.461538,13,0,2,0,0

In [38]:
# Contraction to expansions

In [39]:
contractions = { 
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how does",
"i'd": "i would",
"i'd've": "i would have",
"i'll": "i will",
"i'll've": "i will have",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she would",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so is",
"that'd": "that would",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there would",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they would",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
" u ": " you ",
" ur ": " your ",
" n ": " and ",
"won't": "would not",
'dis': 'this',
'bak': 'back',
'brng': 'bring'}

In [40]:
len(contractions)

84

In [41]:
x="i'm don't he'll"

In [42]:
def cont_to_exp(x):
    if type(x) is str:
        for key in contractions:
            value=contractions[key]
            x=x.replace(key,value)
        return x
    else:
        return x

In [43]:
df.twitts=df.twitts.apply(lambda x:cont_to_exp(x))

In [44]:
df.head()

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len,hashtags_count,mentions_counts,numeric_digits_count,upper_counts
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,0,0,0,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,0,0,0,0
2,@misskpey awwww dnt this bring back memoriesss...,0,12,54,4.500000,0,0,1,0,1
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,0,0,0,0
4,@mandagoforth me bad! it is funny though. zach...,0,26,116,4.461538,13,0,2,0,0

In [45]:
df.twitts[89:90]

89    @beautifoul i am afraid i would not have a cha...
Name: twitts, dtype: object

In [46]:
df[df.twitts.str.contains('hotmail.com')]

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len,hashtags_count,mentions_counts,numeric_digits_count,upper_counts
3713,@securerecs arghh me please markbradbury_16@h...,1,5,51,10.2,0,0,1,0,0

In [47]:
df.iloc[3713]['twitts']

'@securerecs arghh me please  markbradbury_16@hotmail.com'

In [48]:
import re

In [49]:
x='@securerecs arghh me please  markbradbury_16@hotmail.com'

In [50]:
re.findall(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)', x)

['markbradbury_16@hotmail.com']

In [51]:
df['emails']=df.twitts.apply(lambda x:re.findall(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)', x) )

In [52]:
df.head()

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len,hashtags_count,mentions_counts,numeric_digits_count,upper_counts,emails
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,0,0,0,0,[]
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,0,0,0,0,[]
2,@misskpey awwww dnt this bring back memoriesss...,0,12,54,4.500000,0,0,1,0,1,[]
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,0,0,0,0,[]
4,@mandagoforth me bad! it is funny though. zach...,0,26,116,4.461538,13,0,2,0,0,[]

In [53]:
df['emails_count']=df.emails.apply(lambda x:len(x))

In [54]:
df.head()

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len,hashtags_count,mentions_counts,numeric_digits_count,upper_counts,emails,emails_count
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,0,0,0,0,[],0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,0,0,0,0,[],0
2,@misskpey awwww dnt this bring back memoriesss...,0,12,54,4.500000,0,0,1,0,1,[],0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,0,0,0,0,[],0
4,@mandagoforth me bad! it is funny though. zach...,0,26,116,4.461538,13,0,2,0,0,[],0

In [55]:
df[df.emails_count>0]

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len,hashtags_count,mentions_counts,numeric_digits_count,upper_counts,emails,emails_count
3713,@securerecs arghh me please markbradbury_16@h...,1,5,51,10.2,0,0,1,0,0,[markbradbury_16@hotmail.com],1

In [56]:
re.sub(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)','', x)

'@securerecs arghh me please  '

In [57]:
df.twitts=df.twitts.apply(lambda x: re.sub(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)','', x))

In [58]:
df[df.emails_count>0]

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len,hashtags_count,mentions_counts,numeric_digits_count,upper_counts,emails,emails_count
3713,@securerecs arghh me please,1,5,51,10.2,0,0,1,0,0,[markbradbury_16@hotmail.com],1

In [59]:
x = 'hi, thanks to watching it. for more visit https://youtube.com/kgptalkie'

In [60]:
re.findall(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', x)

[('https', 'youtube.com', '/kgptalkie')]

In [61]:
df['url_flags'] = df['twitts'].apply(lambda x: len(re.findall(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', x)))

In [62]:
df[df['url_flags']>0].sample(5)

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len,hashtags_count,mentions_counts,numeric_digits_count,upper_counts,emails,emails_count,url_flags
1970,another loser: just lost the game http://tiny...,0,7,53,7.571429,2,0,0,0,0,[],0,1
3089,@puggylicious http://twitpic.com/6dklt - wow l...,1,16,95,5.937500,4,0,1,0,0,[],0,1
3408,speed of sound - coldplay. good morning ã¢ââ...,1,9,60,6.666667,0,0,0,0,1,[],0,1
3788,"@lux_bird http://twitpic.com/6g3a4 - oh, yummi...",1,7,72,10.285714,0,0,1,0,0,[],0,1
2543,&quot;everybody's free (to feel good)&quot; - ...,1,9,69,7.666667,0,0,0,0,0,[],0,1

In [63]:
df['twitts'] = df['twitts'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , x))

In [64]:
df[df['twitts'].str.contains('rt')]

,twitts,sentiment,word_counts,char_counts,Avg_word_length,stop_words_len,hashtags_count,mentions_counts,numeric_digits_count,upper_counts,emails,emails_count,url_flags
4,@mandagoforth me bad! it is funny though. zach...,0,26,116,4.461538,13,0,2,0,0,[],0,0
23,"ut oh, i wonder if the ram on the desktop is s...",0,14,46,3.285714,7,0,0,0,2,[],0,0
59,@paulmccourt dunno what sky you're looking at!...,0,15,80,5.333333,3,0,1,0,0,[],0,0
75,im back home in belfast im realli tired thoug...,0,22,84,3.818182,9,0,0,0,1,[],0,0
81,@lilmonkee987 i know what you mean... i feel s...,0,11,48,4.363636,5,0,1,0,0,[],0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3913,for the press so after she recovered she kille...,1,24,100,4.166667,1,0,0,0,0,[],0,0
3919,earned her cpr &amp; first aid certifications!,1,7,40,5.714286,1,0,0,0,1,[],0,0
3945,"@teciav &quot;i look high, i look low, i look ...",1,23,106,4.608696,10,0,1,0,0,[],0,0
3951,i am soo very parched. and hungry. oh and i am...,1,21,87,4.142857,7,0,0,2,1,[],0,0
3986,@countroshculla yeah..needed to get up early.....,1,10,69,6.900000,4,0,1,0,0,[],0,0

In [65]:
x = 'rt @username: hello rthirt'

In [66]:
re.sub(r'rt', '', x).strip()

'@username: hello hi'

In [67]:
df['twitts'] = df['twitts'].apply(lambda x: re.sub(r'\brt\b', '', x).strip())

In [68]:
x = '@duyku apparently i was not ready enough... i...'

In [69]:
re.sub(r'[^\w ]+', "", x)

'duyku apparently i was not ready enough i'

In [70]:
df.twitts=df.twitts.apply(lambda x: re.sub(r'[^\w ]+', "", x))

In [71]:
df['twitts'][0]

'is bored and wants to watch a movie  any suggestions'

In [72]:
x =  'hi    hello     how are you'

In [73]:
' '.join(x.split())

'hi hello how are you'

In [74]:
df.twittstts=df.twitts.apply(lambda x:' '.join(x.split()) )

C:\Users\HP\anaconda3\envs\tf-gpu\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [75]:
df.twitts

0       is bored and wants to watch a movie  any sugge...
1                  back in miami  waiting to unboard ship
2       misskpey awwww dnt this bring back memoriessss...
3                       ughhh i am so tired  blahhhhhhhhh
4       mandagoforth me bad it is funny though zachary...
                              ...
3995                                     i just graduated
3996               templating works it all has to be done
3997                      mommy just brought me starbucks
3998       omarepps watching you on a house rerunlovin it
3999    thanks for trying to make me smile i will make...
Name: twitts, Length: 4000, dtype: object

In [76]:
#!pip install beautifulsoup4

In [77]:
from bs4 import BeautifulSoup

In [78]:
x = '<html><h1> thanks for watching it </h1></html>'

In [81]:
BeautifulSoup(x,'lxml').get_text().strip()

'thanks for watching it'

In [80]:
#pip install lxml

Requirement already satisfied: lxml in c:\users\hp\anaconda3\envs\tf-gpu\lib\site-packages (4.6.1)Note: you may need to restart the kernel to use updated packages.

In [82]:
%%time
df.twitts=df.twitts.apply(lambda x:BeautifulSoup(x,'lxml').get_text().strip())

Wall time: 656 ms

In [83]:
x = 'Áccěntěd těxt'

In [85]:
import unicodedata

In [86]:
def remove_accented_chars(x):
    x = unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return x

In [87]:
remove_accented_chars(x)

'Accented text'

In [88]:
df['twitts'] = df['twitts'].apply(lambda x: remove_accented_chars(x))

In [89]:
x='this is a stop words'

In [91]:
' '.join([t for t in x.split() if t not in stopwords])

'stop words'